<div id="wufoo-{formhash}">
    Fill out my <f:link.external uri="https://{username}.wufoo.com/forms/{formhash}/">online form</f:link.external>.
</div>
<noscript>
    <iframe
        height="{height}"
        allowTransparency="true"
        frameborder="0"
        scrolling="no"
        style="width:100%;border:none;"
        src="{f:uri.external(uri:'https://{username}.wufoo.com/embed/{formhash}/')}">
        <f:link.external uri="https://{username}.wufoo.com/forms/{formhash}/">Fill out my Wufoo form!</f:link.external>
    </iframe>
</noscript>
